.comments-block{
  margin: 0;
  padding: 0;
  height: 100%;
}
.post{
  font-size: 24px;
}
.post a{
  font-size: 14px;
  color: grey;
}
.comments-block p{
  font-size: 16px;
}
.comments-block a{
  font-size: 12px;
}
a{
  margin:2px;
}
.btn-warning{
  margin-bottom: 5px;
}